.background-div {
    align-content: center;
    min-height: calc(100vh);
    background-color: #304f7e;
}

.title {
    color: #f2cf97;
    padding-top: 5%;
    text-align: center;
}

.input-label {
    color: #c1a53a
}

.div-log{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 45%;
}

.div-reg{
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15%;
}

.form-auth{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}